body{
	margin: 0px;
	padding:0px;
	font-family: 'Open Sans', sans-serif;
}

header{
	background-image: url(../images/main.jpg);
	background-attachment:fixed;
	width:auto; 
	height:768px;
	margin:0;
}
.menu{
	float:left;
	height:679px;
}
ul{
	list-style-type: none;
	height:680px;
	background-color: #E3662B;
	padding-left: 10px;
	margin:0;
} 	
ul li{
	margin:0px 0px 50px 0px;
	padding-top: 50px;
	color:white;
	font-size: 16px;
	font-weight: 300;

}
#button{
	background-color: #E3662B;
	width:260px;
	height:63px;
	float:right;
	margin-top:50px;
	text-align: center;
}
#button_menu{
	float:left;
	margin-left: -1px;
    margin-top: 50px;
}
#button a{
	text-decoration: none;
	color: white;
	font-size: 23px;
	font-weight: 300;
	text-align: center;
}
#button p{
	font-size: 11px;
}
.clinic{
	float:right;
	background-color: rgba(227, 102, 43, 0.7);
	margin-top: 290px;
    width: 700px;
    clear:right;
}
.img_clinic{
	margin-left: 130px;
}
.mission{
	width: 936px;
	clear:left;
}
